<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrivacyAccessedAPITypes</key>
	<array>
		<dict>
			<key>NSPrivacyAccessedAPIType</key>
			<string>NSPrivacyAccessedAPICategoryUserDefaults</string>
			<key>NSPrivacyAccessedAPITypeReasons</key>
			<array>
				<string></string>
			</array>
			<key>Item 0</key>
			<string>CA92.1: Acess information from same app, per documentation</string>
		</dict>
		<dict>
			<key>NSPrivacyAccessedAPIType</key>
			<string>NSPrivacyAccessedAPICategoryDiskSpace</string>
			<key>NSPrivacyAccessedAPITypeReasons</key>
			<array>
				<string></string>
			</array>
			<key>Item 0</key>
			<string>E174.1: Check whether there is sufficient disk space to store data, per documentation
E174.1: Check whether there is sufficient disk space to store data, per documentation</string>
		</dict>
	</array>
</dict>
</plist>
